/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff; /* putih */
    color: #0b1f4d; /* navy */
    line-height: 1.7;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

/* HEADER */
header {
    text-align: center;
    padding: 25px;
    background-color: #0b1f4d; /* navy */
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* FOTO */
img {
    display: block;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* JUDUL SECTION */
h2 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 22px;
    display: inline-block; /* supaya garis tidak full */
    border-bottom: 3px solid #0b1f4d; /* navy */
    padding-bottom: 5px;
}

/* PARAGRAF */
p {
    margin-bottom: 18px;
}

/* LIST */
ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

/* LINK */
a {
    color: #0b1f4d;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #0b1f4d; /* navy */
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

/* HR */
hr {
    margin: 30px 0;
    border: none;
    height: 2px;
    background-color: #0b1f4d; /* navy */
}